{% extends 'base.html' %}

{% block title %}Buscador Nutricional{% endblock %}
{% block contenido%}

<div class="container mt-5">
    <h1 class="text-center mb-4">Buscador Nutricional</h1>
    <form method="POST" action="/buscar">
        <div class="mb-3">
            <input type="text" class="form-control" name="name" placeholder="Ingrese un ingrediente" required>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
        </div>
    </form>

{%endblock%}